@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    top: 0;
    bottom: 0;
    margin: 10% auto;
    width: 400px;
    height: 600px;
    position: relative;
}

img {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: -120px 50px 0 120px;
}

.inputs {
    background-color: rgb(187, 187, 187);
    width: 450px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid  #63EFFF;
    border-radius: 20px;
    box-shadow: 20px 30px 30px rgb(187, 187, 187);
    font-family: 'Poppins', sans-serif;
}

input {
    font-size: 35px;
    font-size: 200;
    margin: 20px 0;
    padding: 5px;
    border-radius: 200px;
    border: 1px solid #63EFFF;
    text-align: center;
}

.btn {
    padding: 5px 70px 7px 70px;
    background-color: #63EFFF;
    border: 1px solid rgb(112, 112, 112);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.btn:hover {
    background-color:white;
    border: 1px solid  #63EFFF;
    color: rgb(112, 112, 112);
}

h1 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 100;
    color:#63EFFF;
    font-family: 'Poppins', sans-serif;
}